---
version: '3.7'

services:

  bootstrap:
    image: ghcr.io/opiproject/opi-sztp-server:main
    build:
      context: sztp-server
    environment:
      SZTPD_INIT_PORT: 6080
      SZTPD_NBI_PORT: 7080
      SZTPD_SBI_PORT: 9090
      SZTPD_INIT_MODE: 1
      SZTPD_ACCEPT_CONTRACT: "Yes"
      SZTPD_INIT_ADDR: 0.0.0.0
      SZTPD_OPI_MODE: "running"
      SZTPD_RETRY_ATTEMPTS: 20
    networks:
      - opi
    healthcheck:
      test: ["CMD-SHELL", "curl --fail -H Accept:application/yang-data+json http://127.0.0.1:$$SZTPD_NBI_PORT/.well-known/host-meta || exit 1"]

  redirecter:
    image: ghcr.io/opiproject/opi-sztp-server:main
    build:
      context: sztp-server
    environment:
      SZTPD_INIT_PORT: 6080
      SZTPD_NBI_PORT: 7080
      SZTPD_SBI_PORT: 8080
      SZTPD_INIT_MODE: 1
      SZTPD_ACCEPT_CONTRACT: "Yes"
      SZTPD_INIT_ADDR: 0.0.0.0
      BOOTSVR_PORT: 9090
      BOOTSVR_ADDR: "bootstrap"
      SZTPD_OPI_MODE: "redirect"
      SZTPD_RETRY_ATTEMPTS: 20
    networks:
      - opi
    healthcheck:
      test: ["CMD-SHELL", "curl --fail -H Accept:application/yang-data+json http://127.0.0.1:$$SZTPD_NBI_PORT/.well-known/host-meta || exit 1"]

  dhcp:
    image: docker.io/networkboot/dhcpd:1.3.0
    environment:
      NODE_IP_SUBNET: 10.127.127.0
      NODE_IP_NETMASK: 255.255.255.0
      NODE_IP_RANGE_MIN: 10.127.127.100
      NODE_IP_RANGE_MAX: 10.127.127.253
      NODE_IP_ADDRESS: 10.127.127.3
    volumes:
      - ./dhcp:/opt
    cap_add:
      - CAP_NET_BIND_SERVICE
      - CAP_NET_RAW
    networks:
      - opi
    command: sh -e -u -x -c 'touch /var/lib/dhcp/dhcpd.leases && eval "echo \"$$(cat /opt/dhcpd.conf.template)\"" > /etc/dhcp/dhcpd.conf && dhcpd -d'

  nmap:
    image: docker.io/instrumentisto/nmap:7.93
    networks:
      - opi
    command: --script broadcast-dhcp-discover

  nmapmdnsclient:
    image: docker.io/instrumentisto/nmap:7.93
    networks:
      - opi
    command: --script=dns-service-discovery -p 5353 avahi

  web:
    image: docker.io/library/httpd:2.4.55-alpine3.17
    volumes:
      - ./sztp-server/config/my-boot-image.img:/usr/local/apache2/htdocs/my-boot-image.img
    networks:
      - opi

  client:
    image: docker.io/modularitycontainers/dhcp-client:latest
    cap_add:
      - CAP_NET_RAW
    volumes:
      - dhcp-leases-folder:/var/lib/dhclient/
      - ./dhcp/dhclient.conf:/etc/dhcp/dhclient.conf
    networks:
      - opi
    command: dhclient -d -v

  opi-sztp-go-agent:
    image: ghcr.io/opiproject/opi-sztp-agent:main
    build:
      context: sztp-agent
    depends_on:
      bootstrap:
        condition: service_healthy
      redirecter:
        condition: service_healthy
    volumes_from:
      - client
    networks:
      - opi
    command: ['/opi-sztp-agent', 'daemon']

  avahi:
    image: docker.io/flungo/avahi:latest
    environment:
      SERVER_HOST_NAME: "opi"
    networks:
      - opi

volumes:
  dhcp-leases-folder:

networks:
  opi:
    ipam:
      config:
        - subnet: "10.127.127.0/24"
          gateway: "10.127.127.1"
