name: Linters

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run tests
        run: docker run -v $PWD:/workdir ghcr.io/igorshubovych/markdownlint-cli:latest --ignore=minutes --disable=MD013 "**/*.md"

      # - uses: avto-dev/markdown-lint@v1.5.0
      #   with:
      #     args: './*.md'

  docker-lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package:
          - agent
          - client
          - dhcp
          - bootstrap
    steps:
      - uses: actions/checkout@v3
      - uses: hadolint/hadolint-action@v2.1.0
        with:
          recursive: true
          ignore: DL3041
          dockerfile: Dockerfile.${{ matrix.package }}

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: azohra/shell-linter@v0.6.0