---
name: 'OPI SZTP CI'

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io

concurrency:
  # if workflow for PR or push is already running stop it, and start new one
  group: sztp-${{ github.ref }}
  cancel-in-progress: true

jobs:

  sztp-push:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - dhcp-client
          - dhcp-server
          - sztp-agent
          - sztp-server
          - sztp-simulator
    steps:
    - uses: actions/checkout@v3
    - uses: docker/setup-qemu-action@v2
    - uses: docker/setup-buildx-action@d5234d6605774d496731c394511848830d37a200

    - name: Log into registry ${{ env.REGISTRY }}
      if: github.event_name != 'pull_request'
      uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract Docker metadata
      id: meta
      uses: docker/metadata-action@69f6fc9d46f2f8bf0d5491e4aabe0bb8c6a4678a
      with:
        images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/opi-${{ matrix.package }}

    - name: Build and push Docker image
      id: build-and-push
      uses: docker/build-push-action@48888e0b1305dca3a741ceb3b5a04ea336cd2626
      with:
        context: ${{ matrix.package }}
        platforms: linux/amd64,linux/arm64
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

  sztp-ci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    # Workaround: https://github.com/docker/build-push-action/issues/461
    - name: Setup Docker buildx
      uses: docker/setup-buildx-action@d5234d6605774d496731c394511848830d37a200

    - name: Start containers
      run: docker-compose up -d

    - name: Run Tests
      run: ./tests.sh

    - name: Logs
      if: failure()
      run: docker-compose logs

    - name: Stop containers
      if: always()
      run: docker-compose down
